/*------ font family --------
==================================================*/
$font-family: 'Poppins', sans-serif;

/*------ common clr --------
==================================================*/

$orange : #ff8e00;
$fb-icon-blue : #4867aa;
$twitter-icon-blue : #33CCFF;
$google-clr : #db4437;
$common-clr : #ebeff2;
$topnav-clr : #38414a;
$search-text : #c0c3c7;
$side-bar : #343a40;
$side-bar-clr : #98a6ad;